<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta
    name="author"
    content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
  />
  <meta name="generator" content="Hugo 0.82.0" />
  <title>Signup</title>
  <%- include('../partials/head'); %>

  <!-- Custom styles for this template -->
  <link href="signin.css" rel="stylesheet" />
</head>
<body class="container">

  <body class="text-center">
    <main class="form-signin col-md-4 offset-4">
      <form
        method="post"
        ,
        action="/users/register"
        ,
        enctype="multipart/form-data"
      >
        <h1 class="h3 mb-3 fw-normal">Please sign-up</h1>
        <% if (typeof errors == 'object' && errors) { %>
            <% errors.forEach(function(error) { %>
               <div class="alert alert-danger" role="alert">
        <li>
            <strong><%= error.msg %></strong>
        </li>
</div> 

    <% }); %>

<% } %>
   
  
</ul>

        <div class="form-group row">
          <label for="exampleFormControlFile1">Add Photo</label>
          <input
            type="file"
            name="profileimage"
            class="form-control-file"
            id="exampleFormControlFile1"
          />
        </div>

        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="name"
            name="name"
            data-kwimpalastatus="alive"
            data-kwimpalaid="1619019039554-2"
          />
          <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="username"
            name="username"
            data-kwimpalastatus="alive"
            data-kwimpalaid="1619019039554-2"
          />
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            name="email"
            data-kwimpalastatus="alive"
            data-kwimpalaid="1619019039554-2"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            name="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            data-kwimpalastatus="alive"
            data-kwimpalaid="1619019039554-1"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            name="password2"
            class="form-control"
            id="floatingPassword"
            placeholder="Confirm Password"
            data-kwimpalastatus="alive"
            data-kwimpalaid="1619019039554-1"
          />
          <label for="floatingPassword">Confirm Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">
          Sign Up
        </button>
      </form>
    </main>
  </body>
  <footer><%- include('../partials/footer'); %></footer>
</body>
