<!DOCTYPE html>
<html class="no-js" lang="">
<% include layout/head %>  

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <!-- Add your site or application content here -->
   <!--Preloader Start Here-->
        <div id="preloader" class="preloader">
            <div class="items">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
            </div>
        </div> 
    <!-- Preloader End Here-->
    <div id="wrapper" class="wrapper">
      <!-- Header Area Start Here -->
 <% include layout/header %> 
  <!-- Header Area End Here -->
              <section class="inner-page-banner" style="background-image: url(img/figure/inner-page-figure.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumbs-area">
                                <h1>Events</h1>
                                <ul>
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li>Event </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>       
  
<!-- Schedule Area Start Here -->
<section class="section-space-default bg-light">
<div class="container zoom-gallery menu-list-wrapper">
    <div class="section-heading title-black color-dark text-center">
        <h2>Regional Calender</h2>
        <p>RCCG Overcomers Family regional calender for the year 2022</p>
    </div>
    <div class="table-responsive">
        <table class="table table-striped schedule-layout1">
            <tbody class="menu-list">
                <tr class="menu-item">
                    <th>
                        <div class="day-number">Day - 01</div>
                        <div class="schedule-date">17th Oct</div>
                    </th>
                    <td>
                        <div class="schedule-title">
                            <a href="#">Overcomers Family Day</a>
                        </div>
                    </td>
                    <td>
                        <div class="schedule-time">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>08:00 - 09:30 AM</div>
                    </td>
                    <td>
                        <ul class="schedule-speaker">
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Daizy Chirs">
                                    <img src="img/speaker/speaker1.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                            <li>
                                <div class="speaker-img-tooltip" data-tips="James Morgan">
                                    <img src="img/speaker/speaker2.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Carolin Rose">
                                    <img src="img/speaker/speaker3.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="menu-item">
                    <th>
                        <div class="day-number">Day - 02</div>
                        <div class="schedule-date">19th Oct</div>
                    </th>
                    <td>
                        <div class="schedule-title">
                            <a href="#">RCCG National HolyGhost Service</a>
                        </div>
                    </td>
                    <td>
                        <div class="schedule-time">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>09:00 - 10:30 AM</div>
                    </td>
                    <td>
                        <ul class="schedule-speaker">
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Mark Willy">
                                    <img src="img/speaker/speaker4.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Steve John">
                                    <img src="img/speaker/speaker5.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="menu-item">
                    <th>
                        <div class="day-number">Day - 03</div>
                        <div class="schedule-date">20th Oct</div>
                    </th>
                    <td>
                        <div class="schedule-title">
                            <a href="#">Champion Fire Conference</a>
                        </div>
                    </td>
                    <td>
                        <div class="schedule-time">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>10:30 - 11:30 AM</div>
                    </td>
                    <td>
                        <ul class="schedule-speaker">
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Ayrin Dina">
                                    <img src="img/speaker/speaker6.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Cristian Zozo">
                                    <img src="img/speaker/speaker7.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Lara Quize">
                                    <img src="img/speaker/speaker8.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="menu-item">
                    <th>
                        <div class="day-number">Day - 04</div>
                        <div class="schedule-date">24th Oct</div>
                    </th>
                    <td>
                        <div class="schedule-title">
                            <a href="#">Lets-Go-A- Fishing</a>
                        </div>
                    </td>
                    <td>
                        <div class="schedule-time">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>12:00 - 01:30 PM</div>
                    </td>
                    <td>
                        <ul class="schedule-speaker">
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Daizy Chirs">
                                    <img src="img/speaker/speaker1.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                            <li>
                                <div class="speaker-img-tooltip" data-tips="James Morgan">
                                    <img src="img/speaker/speaker2.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Carolin Rose">
                                    <img src="img/speaker/speaker3.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="menu-item">
                    <th>
                        <div class="day-number">Day - 05</div>
                        <div class="schedule-date">25th Oct</div>
                    </th>
                    <td>
                        <div class="schedule-title">
                            <a href="#">Easters Camp-Out</a>
                        </div>
                    </td>
                    <td>
                        <div class="schedule-time">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>02:00 - 03:30 PM</div>
                    </td>
                    <td>
                        <ul class="schedule-speaker">
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Mark Willy">
                                    <img src="img/speaker/speaker4.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Steve John">
                                    <img src="img/speaker/speaker5.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="menu-item hidden">
                    <th>
                        <div class="day-number">Day - 01</div>
                        <div class="schedule-date">17th Oct</div>
                    </th>
                    <td>
                        <div class="schedule-title">
                            <a href="single-event.html">A Day out with God of GO</a>
                        </div>
                    </td>
                    <td>
                        <div class="schedule-time">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>08:00 - 09:30 AM</div>
                    </td>
                    <td>
                        <ul class="schedule-speaker">
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Daizy Chirs">
                                    <img src="img/speaker/speaker1.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                            <li>
                                <div class="speaker-img-tooltip" data-tips="James Morgan">
                                    <img src="img/speaker/speaker2.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Carolin Rose">
                                    <img src="img/speaker/speaker3.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="menu-item hidden">
                    <th>
                        <div class="day-number">Day - 02</div>
                        <div class="schedule-date">19th Oct</div>
                    </th>
                    <td>
                        <div class="schedule-title">
                            <a href="#">Regional Workers Meeting</a>
                        </div>
                    </td>
                    <td>
                        <div class="schedule-time">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>09:00 - 10:30 AM</div>
                    </td>
                    <td>
                        <ul class="schedule-speaker">
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Mark Willy">
                                    <img src="img/speaker/speaker4.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Steve John">
                                    <img src="img/speaker/speaker5.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="menu-item hidden">
                    <th>
                        <div class="day-number">Day - 03</div>
                        <div class="schedule-date">20th Oct</div>
                    </th>
                    <td>
                        <div class="schedule-title">
                            <a href="#">Mid-Year Fasting and Prayer</a>
                        </div>
                    </td>
                    <td>
                        <div class="schedule-time">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>10:30 - 11:30 AM</div>
                    </td>
                    <td>
                        <ul class="schedule-speaker">
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Ayrin Dina">
                                    <img src="img/speaker/speaker6.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Cristian Zozo">
                                    <img src="img/speaker/speaker7.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Lara Quize">
                                    <img src="img/speaker/speaker8.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="menu-item hidden">
                    <th>
                        <div class="day-number">Day - 04</div>
                        <div class="schedule-date">24th Oct</div>
                    </th>
                    <td>
                        <div class="schedule-title">
                            <a href="#">LightUp Lagos </a>
                        </div>
                    </td>
                    <td>
                        <div class="schedule-time">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>12:00 - 01:30 PM</div>
                    </td>
                    <td>
                        <ul class="schedule-speaker">
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Daizy Chirs">
                                    <img src="img/speaker/speaker1.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                            <li>
                                <div class="speaker-img-tooltip" data-tips="James Morgan">
                                    <img src="img/speaker/speaker2.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Carolin Rose">
                                    <img src="img/speaker/speaker3.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="menu-item hidden">
                    <th>
                        <div class="day-number">Day - 05</div>
                        <div class="schedule-date">25th Oct</div>
                    </th>
                    <td>
                        <div class="schedule-title">
                            <a href="#">RCCG Workers meetings</a>
                        </div>
                    </td>
                    <td>
                        <div class="schedule-time">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>02:00 - 03:30 PM</div>
                    </td>
                    <td>
                        <ul class="schedule-speaker">
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Mark Willy">
                                    <img src="img/speaker/speaker4.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                            <li>
                                <div class="speaker-img-tooltip" data-tips="Steve John">
                                    <img src="img/speaker/speaker5.png" alt="schedule" class="rounded-circle">
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a href="#" title="More Schedule" class="loadmore-one-item btn-fill size-lg border-radius-5 color-yellow margin-t-50">More Schedule</a>
        </div>
    </div>
</div>
</section>
<!-- Schedule Area End Here -->
     




            
  <!-- Map Area Start Here -->
    <% include layout/map %> 
            <!-- Map Area End Here -->
            <!-- Footer Area Start Here -->

    <% include layout/footer %>  

            <!-- Footer Area End Here -->
        </div>
        <!-- Wrapper End -->
        <!-- jquery-->
<% include layout/script %> 

    </body>

</html>
