<!DOCTYPE html>
<html class="no-js" lang="">
<% include layout/head %>  

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <!-- Add your site or application content here -->
   <!--Preloader Start Here-->
        <div id="preloader" class="preloader">
            <div class="items">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
            </div>
        </div> 
    <!-- Preloader End Here-->
    <div id="wrapper" class="wrapper">
      <!-- Header Area Start Here -->

 <% include layout/header %> 


            <!-- Header Area End Here -->
            <!-- Inne Page Banner Area Start Here -->
            <section class="inner-page-banner" style="background-image: url(img/figure/inner-page-figure.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumbs-area">
                                <h1>About Us</h1>
                                <ul>
                                    <li>
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li>About Us</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Inne Page Banner Area End Here -->
            <!-- Schedule Area Start Here -->
            <section class="section-space-default bg-light">
                <div class="container">
                    <div class="section-heading title-black color-dark text-center">
                        <h2>Our Humble Beginning </h2>
                        <p>History of the redeemed christian church of God (Green Pasture Arena) 
                            at Market Street, Shomolu  </p>
                        </div>
                        <div class="schedule-layout3">
                        <ul class="schedule-nav nav nav-tabs">
                            <li class="nav-item">
                                <a href="#one" data-toggle="tab" aria-expanded="false" class="active">
                                    <div class="day-number">The Story</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#two" data-toggle="tab" aria-expanded="false" class="">
                                    <div class="day-number">Roll Call</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#three" data-toggle="tab" aria-expanded="false" class="">
                                    <div class="day-number">As State Province</div>
                                </a>
                            </li>
                            <li class="nav-item">
                            <a href="#four" data-toggle="tab" aria-expanded="false" class="">
                            <div class="day-number">and More..</div>
                            </a>
                            </li>
                            </ul>


                        <div class="schedule-content">
                        <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active show" id="one">
                        <section class="section-space-less30">
                        <div class="container">
                        <div class="row">

                          <!-- the first Blog -->  
                        <div class="col-lg-10 col-md-12 margin-b-30rem offset-1">
                        <div class="single-blog-wrapper">
                        <div class="item-image">
                        <img src="img/blog/blog19.jpg" class="img-fluid width-100" alt="blog">
                        </div>
                        <div class="single-blog-content-holder">
                        <h2 class="title title-bold color-dark size-sm">Our History at RCCG Region 2</h2>
                        <ul class="news-meta-info">
                        <li>April 23, 2022,</li>                               
                
                                    </ul>
                                    <blockquote>
                                        The major lesson of this story is that if God could incredibly transform His Church from an oblivious “grain of mustard seed” to become such a mighty Oak where all birds perch, then whatever situation anyone may be now, the same God 
                                        can always bring out white colored corn meal from a black pot. 
                                        Glory be to God!
                                    </blockquote>

                                    <p>In the beginning was the word and the word was God. The word is Light and darkness has not and would never overcome it. It is on the word The Redeemed Christian Church of God was founded and has grown to become a force in the body of Christ today. However, a branch of this giant tree happens to be The Redeemed at Shomolu, which is hardly conspicuous among a cluster of houses in the densely populated Shomolu in the Lagos mainland. To most people this modest piece of edifice could just as well be a house for one of the new generation Pentecostal Assemblies. But it is quite far from that. A place the Glory of God has permanently rested over the years with millions having received miracles from Salvation, healings, breakthroughs to other signs and wonders; what is more, many great men and women of God in RCCG have at one point or the other either passed through or started their spiritual pilgrimage here at this citadel of the Redeemed. 

                                    The Redeemed Christian Church of God, Shomolu (As it was being called then - Pastor E O Daramola (of blessed memory) named the Church Green Pastures Arena in 2000), was established forty years ago (as at 1996) precisely 1956 at a time when the present Pastor in Charge, Pastor Williams Akinbamijo had not been born. It started as a house fellowship center under the National Headquarter Parish. The center headed by one brother Ajigbotijesu was then located at Olorunkemi street. The center later moved to Abiodun Street in 1957 and was headed by Bro James from Modakeke in Osun State and Bro Allen, founder of a C & S parish at Ketu. In 1958, the team moved to Bajulaiye road with Pastor Orundun from Ondo as the Pastor in Charge. 
                                    However, the Church came to its present location at 33 Market Street in 1959 using two rooms in a mud house. The first mission of the Church was founded at Ilaro in 1969. In 1968, the mud house was pulled down and a new house with cement bricks was built in its stead. The Church was later raised up to a storey building in 1987. Today (1996) the church is a two storey building.  
                                    It was said that the Church had the opportunity to acquire the surrounding plots of land after they came to 33 market Street in 1969 but there was no money.
                                    </p>
                                    <blockquote>
                                        <p>It started as a house fellowship center under the National Headquarter Parish. The center headed by one brother Ajigbotijesu was then located at Olorunkemi street. The center later moved to Abiodun Street in 1957 and was headed by Bro James from Modakeke in Osun State and Bro Allen, founder of a C & S parish at Ketu.</p>
                                    </blockquote>
                                    <p>We want to appeal in advance to all our readers to note that there could be some minor omissions here and there. Please be assured that these are not mistakes of the heart but that of the head. 

                                        The truth is that if ALL the day to day details of 64 years (1956-2020) were to be written piece by piece, I presume what John wrote in John 21:25 will be a child’s play compared to ours.
                                        “And there are also many other things which Jesus did, the which, if they should be written every one, I suppose that even the world itself could not contain the books that should be written. Amen.”
                                        To me, the major lesson of this story is that if God could incredibly transform His Church from an oblivious “grain of mustard seed” to become such a mighty Oak where all birds perch, then whatever situation anyone may be now, the same God can always bring out white colored corn meal from a black pot. 

                                        Glory be to God!
                                        </p>
                                </div>
                                <ul class="tag-share">
                                    <li>
                                        <ul class="inner-tag">
                                            <li>
                                                <a href="#">Author:</a>
                                            </li>
                                            <li>
                                                <a href="#">By Deji Osatuyi (Now Akinola)</a>
                                            </li>
                                           
                                           
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="inner-share">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                                                  
                            </div>
                        </div>
                      <!-- / the second blog-->
                    </div>
                </div>
            </section>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="two">
            <div class="col-lg-10 col-md-12 margin-b-30rem offset-1">
                        <div class="single-blog-wrapper">
                       
                        <div class="single-blog-content-holder">
                        <h2 class="title title-bold color-dark size-sm text-center">Our pastors Hall of fame</h2>
                      
                                    <blockquote>
                                        The major lesson of this story is that if God could incredibly transform His Church from an oblivious “grain of mustard seed” to become such a mighty Oak where all birds perch, then whatever situation anyone may be now, the same God 
                                        can always bring out white colored corn meal from a black pot. 
                                        Glory be to God!
                                    </blockquote>
                        
                        
                        
                        <div class="row no-gutters full-width">
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="speaker-layout2">
                                <img src="img/speaker/speaker1.jpg" alt="speaker" class="img-fluid">
                                <div class="item-title">
                                    <h5 class="sub-title size-md color-light hover-yellow text-underline-light">
                                        <a >Pastor Akande  </a>
                                        <p>Early 1980s
                                    </p></h5>
                                </div>                              
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="speaker-layout2">
                                <img src="img/speaker/speaker2.jpg" alt="speaker" class="img-fluid">
                                <div class="item-title">
                                    <h5 class="title-black size-md color-light hover-yellow text-underline-light">
                                        <a href="#">Pastor Olabode</a>
                                        <p>1982 - 1984</p>
                                    </h5>
                                </div>
                              
                            </div>
                        </div>



                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="speaker-layout2">
                                <img src="img/speaker/speaker3.jpg" alt="speaker" class="img-fluid">
                                <div class="item-title">
                                    <h5 class="title-black size-md color-light hover-yellow text-underline-light">
                                        <a href="#">Pastor J Adewunmi</a>
                                        <p> 1984 - 1987</p>
                                    </h5>
                                </div>
                               
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="speaker-layout2">
                                <img src="img/speaker/speaker4.jpg" alt="speaker" class="img-fluid">
                                <div class="item-title">
                                    <h5 class="title-black size-md color-light hover-yellow text-underline-light">
                                        <a href="#">Pastor G. Lawal</a>
                                    </h5>
                                </div>
                               
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="speaker-layout2">
                                <img src="img/speaker/speaker5.jpg" alt="speaker" class="img-fluid">
                                <div class="item-title">
                                    <h3 class="title-black size-md color-light hover-yellow text-underline-light">
                                        <a href="#">Pastor Somide</a>
                                        <p>1989 </p>
                                    </h3>
                                </div>
                                
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="speaker-layout2">
                                <img src="img/speaker/speaker6.jpg" alt="speaker" class="img-fluid">
                                <div class="item-title">
                                    <h5 class="title-black size-md color-light hover-yellow text-underline-light">
                                        <a href="#">Pastor Agboola </a>
                                        <p>1991 - 1994</p>
                                    </h5>
                                </div>
                               
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="speaker-layout2">
                                <img src="img/speaker/speaker7.jpg" alt="speaker" class="img-fluid">
                                <div class="item-title">
                                    <h5 class="title-black size-md color-light hover-yellow text-underline-light">
                                        <a href="#">Pastor Williams Akinbamijo</a>
                                        <p>1994 - 1998 & 2001 - 2003</p>
                                    </h5>
                                </div>
                            
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="speaker-layout2">
                                <img src="img/speaker/speaker8.jpg" alt="speaker" class="img-fluid">
                                <div class="item-title">
                                    <h5 class="title-black size-md color-light hover-yellow text-underline-light">
                                        <a href="#">Pastor Femi Agboola</a>
                                    </h5>
                                </div>
                             
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="speaker-layout2">
                                <img src="img/speaker/speaker9.jpg" alt="speaker" class="img-fluid">
                                <div class="item-title">
                                    <h5 class="title-black size-md color-light hover-yellow text-underline-light">
                                        <a href="#">Pastor S.A Iroju</a>
                                        <p>1995</p>
                                    </h5>
                                </div>
                                 </div>
                        </div>

                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="speaker-layout2">
                                <img src="img/speaker/speaker10.jpg" alt="speaker" class="img-fluid">
                                <div class="item-title">
                                    <h5 class="title-black size-md color-light hover-yellow text-underline-light">
                                        <a href="#">Pastor Lekan Yusuf</a>
                                        <p>1998 - 2001 </p>
                                    </h5>
                                </div>
                             </div>
                        </div>

                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="speaker-layout2">
                                <img src="img/speaker/speaker1.jpg" alt="speaker" class="img-fluid">
                                <div class="item-title">
                                    <h5 class="title-black size-md color-light hover-yellow text-underline-light">
                                        <a href="#">Pastor S.A Asegere</a>
                                        <p>2001 - 2006</p>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="speaker-layout2">
                                <img src="img/speaker/speaker2.jpg" alt="speaker" class="img-fluid">
                                <div class="item-title">
                                    <h5 class="title-black size-md color-light hover-yellow text-underline-light">
                                        <a href="#">Pastor S.A Oyeyemi</a>
                                        <p>2003 - 2004</p>
                                    </h5>
                                </div>
                              </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="speaker-layout2">
                                <img src="img/speaker/speaker2.jpg" alt="speaker" class="img-fluid">
                                <div class="item-title">
                                    <h5 class="title-black size-md color-light hover-yellow text-underline-light">
                                        <a href="#">Pastor S.A Oyeyemi</a>
                                        <p>2003 - 2004</p>
                                    </h5>
                                </div>
                              </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="speaker-layout2">
                                <img src="img/speaker/speaker2.jpg" alt="speaker" class="img-fluid">
                                <div class="item-title">
                                    <h5 class="title-black size-md color-light hover-yellow text-underline-light">
                                        <a href="#">Pastor S.A Oyeyemi</a>
                                        <p>2003 - 2004</p>
                                    </h5>
                                </div>
                              </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="speaker-layout2">
                                <img src="img/speaker/speaker2.jpg" alt="speaker" class="img-fluid">
                                <div class="item-title">
                                    <h5 class="title-black size-md color-light hover-yellow text-underline-light">
                                        <a href="#">Pastor S.A Oyeyemi</a>
                                        <p>2003 - 2004</p>
                                    </h5>
                                </div>
                              </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="speaker-layout2">
                                <img src="img/speaker/speaker2.jpg" alt="speaker" class="img-fluid">
                                <div class="item-title">
                                    <h5 class="title-black size-md color-light hover-yellow text-underline-light">
                                        <a href="#">Pastor S.A Oyeyemi</a>
                                        <p>2003 - 2004</p>
                                    </h5>
                                </div>
                              </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="speaker-layout2">
                                <img src="img/speaker/speaker2.jpg" alt="speaker" class="img-fluid">
                                <div class="item-title">
                                    <h5 class="title-black size-md color-light hover-yellow text-underline-light">
                                        <a href="#">Pastor S.A Oyeyemi</a>
                                        <p>2003 - 2004</p>
                                    </h5>
                                </div>
                              </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="speaker-layout2">
                                <img src="img/speaker/speaker2.jpg" alt="speaker" class="img-fluid">
                                <div class="item-title">
                                    <h5 class="title-black size-md color-light hover-yellow text-underline-light">
                                        <a href="#">Pastor S.A Oyeyemi</a>
                                        <p>2003 - 2004</p>
                                    </h5>
                                </div>
                              </div>
                        </div>

                    </div>

                                    <blockquote>
                                        <p>It started as a house fellowship center under the National Headquarter Parish. The center headed by one brother Ajigbotijesu was then located at Olorunkemi street. The center later moved to Abiodun Street in 1957 and was headed by Bro James from Modakeke in Osun State and Bro Allen, founder of a C & S parish at Ketu.</p>
                                    </blockquote>
                                    <p>We want to appeal in advance to all our readers to note that there could be some minor omissions here and there. Please be assured that these are not mistakes of the heart but that of the head. 

                                        The truth is that if ALL the day to day details of 64 years (1956-2020) were to be written piece by piece, I presume what John wrote in John 21:25 will be a child’s play compared to ours.
                                        “And there are also many other things which Jesus did, the which, if they should be written every one, I suppose that even the world itself could not contain the books that should be written. Amen.”
                                        To me, the major lesson of this story is that if God could incredibly transform His Church from an oblivious “grain of mustard seed” to become such a mighty Oak where all birds perch, then whatever situation anyone may be now, the same God can always bring out white colored corn meal from a black pot. 

                                        Glory be to God!
                                        </p>
                                </div>
                                <ul class="tag-share">
                                    <li>
                                        <ul class="inner-tag">
                                            <li>
                                                <a href="#">Author:</a>
                                            </li>
                                            <li>
                                                <a href="#">By Deji Osatuyi (Now Akinola)</a>
                                            </li>
                                           
                                           
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="inner-share">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                                                  
                            </div>
                        </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="three">
               <div class="col-lg-10 col-md-12 margin-b-30rem offset-1">
                        <div class="single-blog-wrapper">
                        <div class="item-image">
                        <img src="img/blog/blog19.jpg" class="img-fluid width-100" alt="blog">
                        </div>
                        <div class="single-blog-content-holder">
                        <h2 class="title title-bold color-dark size-sm">Our History at RCCG Region 2</h2>
                        <ul class="news-meta-info">
                        <li>April 23, 2022,</li>                               
                
                                    </ul>
                                    <blockquote>
                                        The major lesson of this story is that if God could incredibly transform His Church from an oblivious “grain of mustard seed” to become such a mighty Oak where all birds perch, then whatever situation anyone may be now, the same God 
                                        can always bring out white colored corn meal from a black pot. 
                                        Glory be to God!
                                    </blockquote>

                                    <p>In the beginning was the word and the word was God. The word is Light and darkness has not and would never overcome it. It is on the word The Redeemed Christian Church of God was founded and has grown to become a force in the body of Christ today. However, a branch of this giant tree happens to be The Redeemed at Shomolu, which is hardly conspicuous among a cluster of houses in the densely populated Shomolu in the Lagos mainland. To most people this modest piece of edifice could just as well be a house for one of the new generation Pentecostal Assemblies. But it is quite far from that. A place the Glory of God has permanently rested over the years with millions having received miracles from Salvation, healings, breakthroughs to other signs and wonders; what is more, many great men and women of God in RCCG have at one point or the other either passed through or started their spiritual pilgrimage here at this citadel of the Redeemed. 

                                    The Redeemed Christian Church of God, Shomolu (As it was being called then - Pastor E O Daramola (of blessed memory) named the Church Green Pastures Arena in 2000), was established forty years ago (as at 1996) precisely 1956 at a time when the present Pastor in Charge, Pastor Williams Akinbamijo had not been born. It started as a house fellowship center under the National Headquarter Parish. The center headed by one brother Ajigbotijesu was then located at Olorunkemi street. The center later moved to Abiodun Street in 1957 and was headed by Bro James from Modakeke in Osun State and Bro Allen, founder of a C & S parish at Ketu. In 1958, the team moved to Bajulaiye road with Pastor Orundun from Ondo as the Pastor in Charge. 
                                    However, the Church came to its present location at 33 Market Street in 1959 using two rooms in a mud house. The first mission of the Church was founded at Ilaro in 1969. In 1968, the mud house was pulled down and a new house with cement bricks was built in its stead. The Church was later raised up to a storey building in 1987. Today (1996) the church is a two storey building.  
                                    It was said that the Church had the opportunity to acquire the surrounding plots of land after they came to 33 market Street in 1969 but there was no money.
                                    </p>
                                    <blockquote>
                                        <p>It started as a house fellowship center under the National Headquarter Parish. The center headed by one brother Ajigbotijesu was then located at Olorunkemi street. The center later moved to Abiodun Street in 1957 and was headed by Bro James from Modakeke in Osun State and Bro Allen, founder of a C & S parish at Ketu.</p>
                                    </blockquote>
                                    <p>We want to appeal in advance to all our readers to note that there could be some minor omissions here and there. Please be assured that these are not mistakes of the heart but that of the head. 
                                        The truth is that if ALL the day to day details of 64 years (1956-2020) were to be written piece by piece, I presume what John wrote in John 21:25 will be a child’s play compared to ours.
                                        “And there are also many other things which Jesus did, the which, if they should be written every one, I suppose that even the world itself could not contain the books that should be written. Amen.”
                                        To me, the major lesson of this story is that if God could incredibly transform His Church from an oblivious “grain of mustard seed” to become such a mighty Oak where all birds perch, then whatever 
                                        situation anyone may be now, the same God can always bring out white colored corn meal from a black pot. Glory be to God!
                                        </p>
                                </div>
                                <ul class="tag-share">
                                    <li>
                                        <ul class="inner-tag">
                                            <li>
                                                <a href="#">Author:</a>
                                            </li>
                                            <li>
                                                <a href="#">By Deji Osatuyi (Now Akinola)</a>
                                            </li>
                                           
                                           
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="inner-share">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                                                  
                            </div>
                        </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="four">
            <div class="col-lg-10 col-md-12 margin-b-30rem offset-1">
                        <div class="single-blog-wrapper">
                        <div class="item-image">
                        <img src="img/blog/blog19.jpg" class="img-fluid width-100" alt="blog">
                        </div>
                        <div class="single-blog-content-holder">
                        <h2 class="title title-bold color-dark size-sm">Our History at RCCG Region 2</h2>
                        <ul class="news-meta-info">
                        <li>April 23, 2022,</li>                               
                
                                    </ul>
                                    <blockquote>
                                        The major lesson of this story is that if God could incredibly transform His Church from an oblivious “grain of mustard seed” to become such a mighty Oak where all birds perch, then whatever situation anyone may be now, the same God 
                                        can always bring out white colored corn meal from a black pot. 
                                        Glory be to God!
                                    </blockquote>







                                    <p>In the beginning was the word and the word was God. The word is Light and darkness has not and would never overcome it. It is on the word The Redeemed Christian Church of God was founded and has grown to become a force in the body of Christ today. However, a branch of this giant tree happens to be The Redeemed at Shomolu, which is hardly conspicuous among a cluster of houses in the densely populated Shomolu in the Lagos mainland. To most people this modest piece of edifice could just as well be a house for one of the new generation Pentecostal Assemblies. But it is quite far from that. A place the Glory of God has permanently rested over the years with millions having received miracles from Salvation, healings, breakthroughs to other signs and wonders; what is more, many great men and women of God in RCCG have at one point or the other either passed through or started their spiritual pilgrimage here at this citadel of the Redeemed. 

                                    The Redeemed Christian Church of God, Shomolu (As it was being called then - Pastor E O Daramola (of blessed memory) named the Church Green Pastures Arena in 2000), was established forty years ago (as at 1996) precisely 1956 at a time when the present Pastor in Charge, Pastor Williams Akinbamijo had not been born. It started as a house fellowship center under the National Headquarter Parish. The center headed by one brother Ajigbotijesu was then located at Olorunkemi street. The center later moved to Abiodun Street in 1957 and was headed by Bro James from Modakeke in Osun State and Bro Allen, founder of a C & S parish at Ketu. In 1958, the team moved to Bajulaiye road with Pastor Orundun from Ondo as the Pastor in Charge. 
                                    However, the Church came to its present location at 33 Market Street in 1959 using two rooms in a mud house. The first mission of the Church was founded at Ilaro in 1969. In 1968, the mud house was pulled down and a new house with cement bricks was built in its stead. The Church was later raised up to a storey building in 1987. Today (1996) the church is a two storey building.  
                                    It was said that the Church had the opportunity to acquire the surrounding plots of land after they came to 33 market Street in 1969 but there was no money.
                                    </p>
                                    <blockquote>
                                        <p>It started as a house fellowship center under the National Headquarter Parish. The center headed by one brother Ajigbotijesu was then located at Olorunkemi street. The center later moved to Abiodun Street in 1957 and was headed by Bro James from Modakeke in Osun State and Bro Allen, founder of a C & S parish at Ketu.</p>
                                    </blockquote>
                                    <p>We want to appeal in advance to all our readers to note that there could be some minor omissions here and there. Please be assured that these are not mistakes of the heart but that of the head. 

                                        The truth is that if ALL the day to day details of 64 years (1956-2020) were to be written piece by piece, I presume what John wrote in John 21:25 will be a child’s play compared to ours.
                                        “And there are also many other things which Jesus did, the which, if they should be written every one, I suppose that even the world itself could not contain the books that should be written. Amen.”
                                        To me, the major lesson of this story is that if God could incredibly transform His Church from an oblivious “grain of mustard seed” to become such a mighty Oak where all birds perch, then whatever situation anyone may be now, the same God can always bring out white colored corn meal from a black pot. 

                                        Glory be to God!
                                        </p>
                                </div>
                                <ul class="tag-share">
                                    <li>
                                        <ul class="inner-tag">
                                            <li>
                                                <a href="#">Author:</a>
                                            </li>
                                            <li>
                                                <a href="#">By Deji Osatuyi (Now Akinola)</a>
                                            </li>
                                           
                                           
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="inner-share">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                                                  
                            </div>
                        </div>
            </div>
            </div>
            </div>
            </div>

                    <!--testing -->
<div class="schedule-layout3">
<ul class="schedule-nav nav nav-tabs">
<li class="nav-item">
<a href="#one" data-toggle="tab" aria-expanded="false" class="active">
             <div class="day-number">The Story</div>
         </a>
     </li>
     <li class="nav-item">
         <a href="#two" data-toggle="tab" aria-expanded="false" class="">
             <div class="day-number">Roll Call</div>
         </a>
     </li>
     <li class="nav-item">
         <a href="#three" data-toggle="tab" aria-expanded="false" class="">
             <div class="day-number">As State Province</div>
         </a>
     </li>
     <li class="nav-item">
         <a href="#four" data-toggle="tab" aria-expanded="false" class="">
             <div class="day-number">and More..</div>
         </a>
     </li>
 </ul>
</div>
</div>
</section>
     
            <!-- Call To Action Area Start Here -->
            <section class="overlay-primary90 overlay-icon-layout1 section-space-default bg-common" style="background-image: url(img/figure/figure1.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="call-to-action-layout1 zindex-up">
                                <h2>Worship with us </h2>
                                <p>Find a parish near to you on our directory, our pastors are ready to give you the family welcome you deserve.</p>
                                <a href="directory.html" title="Buy Tickets" class="btn-fill size-lg border-radius-5 color-yellow">our location</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call To Action Area End Here -->
            <!-- Map Area Start Here -->
    <% include layout/map %> 
            <!-- Map Area End Here -->
            <!-- Footer Area Start Here -->

    <% include layout/footer %>  

            <!-- Footer Area End Here -->
        </div>
        <!-- Wrapper End -->
        <!-- jquery-->
<% include layout/script %> 

    </body>

</html>
