<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Welcome to the Redeemed Christian Church Of God Region 02</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="css/normalize.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="css/main.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- Animate CSS -->
    <link rel="stylesheet" href="css/animate.min.css" />
    <!-- Font-awesome CSS-->
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <!-- Main Menu CSS -->
    <link rel="stylesheet" href="css/meanmenu.min.css" />
    <!-- Magnific CSS -->
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css" />
    <!-- nivo slider CSS -->
    <style>
    h3.size-lg {
    font-size: calc(23px);}
    </style>
    <link
      rel="stylesheet"
      href="vendor/slider/css/nivo-slider.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="vendor/slider/css/preview.css"
      type="text/css"
      media="screen"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css" />
    <!-- Modernizr Js -->
    <script src="js/modernizr-2.8.3.min.js"></script>
  
  </head>

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <!-- Add your site or application content here -->
   <!--Preloader Start Here-->
        <div id="preloader" class="preloader">
            <div class="items">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
            </div>
        </div> 
    <!-- Preloader End Here-->
    <div id="wrapper" class="wrapper">
      <!-- Header Area Start Here -->
      <header>
        <div
          id="header-one"
          class="header-area header-fixed full-width-compress"
        >
          <div class="main-menu-area" id="sticker">
            <div class="container-fluid">
              <div class="row no-gutters d-flex align-items-center">
                <div class="col-lg-2 col-md-2 d-none d-lg-block">
                  <div class="logo-area">
                    <a href="index.html">
                      <img src="img/rccg-for-web1.png" alt="logo" />
                    </a>
                  </div>
                </div>
                <div class="col-lg-7 col-md-6 possition-static">
                  <div class="eventalk-main-menu">
                    <nav class="d-none d-lg-block">
                      <ul>
                        <li class="current"><a href="index.html">Home</a></li>
                        <li><a href="about.html">History</a></li>
                        <li>
                          <a href="#">Events</a>
                        </li>
                        <li>
                          <a href="#">Quick links</a>
                            <ul class="rt-dropdown-menu">
                                <li>
                                  <a href="directory.html">Directories</a>
                                </li>
                                <li>
                                  <a href="gallery.html">Gallery</a>
                                </li>
                                <li>
                                  <a href="#">Donate</a>
                                </li>
                                <li>
                                  <a href="#">messages</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                          <a href="#">Help Ministries</a>
                              <ul class="rt-dropdown-menu">
                                <li>
                                  <a href="#">CSR</a>
                                </li>
                                <li>
                                  <a href="#">Youth Ministries</a>
                                </li>
                                <li>
                                  <a href="#">House Fellowship</a>
                                </li>
                                <li>
                                  <a href="#">Children Church</a>
                                </li>
                                <li>
                                  <a href="#">Women Minsitry</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                          <a href="contact.html">Contact us</a>
                        </li>
                      </ul>
                    </nav>

                    <!-- Mobile Menu start -->
                    <!-- <nav id="dropdown" class="d-md-none">                    
                      <ul>
                        <li class="current"><a href="index.html">Home</a></li>
                        <li><a href="about.html">Our History</a></li>
                        <li>
                          <a href="#">Conferences</a>
                        </li>

                        <li>
                          <a href="#">Quick links</a>
                            <ul class="rt-dropdown-menu">
                                <li>
                                  <a href="directory.html">Directories</a>
                                </li>
                                <li>
                                  <a href="gallery.html">Gallery</a>
                                </li>
                                <li>
                                  <a href="index2.html">Mesasges</a>
                                </li>
                            </ul>
                        </li>                      
                        <li>
                          <a href="contact.html">Contact us</a>
                        </li>
       
                      </ul>
                    </nav> -->
                    <!-- Mobile Menu End -->

                  </div>
                </div>

                <div class="col-lg-3 col-md-4 d-none d-lg-block">
                  <ul class="header-action-items">
                    <li>
                      <a
                        href="#"
                        title="Buy Tickets"
                        class="btn-fill size-xs color-yellow border-radius-5"
                        >Prayer & Counselling</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>


      <!-- Header Area End Here -->
      <!-- Inne Page Banner Area Start Here -->
      <section
        class="inner-page-banner"
        style="background-image: url(img/figure/inner-page-figure.jpg)"
      >
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="breadcrumbs-area">
                <h1>Our Regional Directories</h1>
                <ul>
                  <li>
                    <a href="#">Home</a>
                  </li>
                  <li>Directories</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Inne Page Banner Area End Here -->
      <!-- Schedule Area Start Here -->
      <section class="section-space-default bg-light">
        <div class="container">
          <div class="section-heading title-black color-dark text-center">
            <h2>Regional Directory</h2>
            <p>Looking for a nearby church, please check our locations</p>
          </div>
<!--search Bar-->
<div class="sidebar-widget-area sidebar-break-md col-lg-6 offset-3 col-md-12">
                            <div class="widget widget-search">
                                <div class="input-group stylish-input-group">
                                    <input type="text" class="form-control" placeholder="Search Our Directories . . .">
                                    <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="fa fa-search" aria-hidden="true"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>                           
                           
                                                   </div>
<!--search Bar-->




          <div class="schedule-layout2">
            <ul class="schedule-nav nav nav-tabs">
              <li class="nav-item">
                <a
                  href="#one"
                  data-toggle="tab"
                  aria-expanded="false"
                  class="active"
                >
                  <div class="day-number">Provincial Headquarters</div>
                  <div class="schedule-date">All Zones/Areas/Parishes</div>
                </a>
              </li>
              <li class="nav-item">
                <a href="#two" data-toggle="tab" aria-expanded="false">
                  <div class="day-number">Zonal Headquarters</div>
                  <div class="schedule-date">All Zones/Areas/Parishes</div>
                </a>
              </li>
              <li class="nav-item">
                <a href="#three" data-toggle="tab" aria-expanded="false">
                  <div class="day-number">Area Headquarters</div>
                  <div class="schedule-date">All Areas/Parishes</div>
                </a>
              </li>
              <li class="nav-item">
                <a href="#four" data-toggle="tab" aria-expanded="true">
                  <div class="day-number">Regional Quick Links</div>
                  <div class="schedule-date">Regional Informations</div>
                </a>
              </li>
              <li class="nav-item">
                <a href="#five" data-toggle="tab" aria-expanded="true">
                  <div class="day-number">RCCG Global Links</div>
                  <div class="schedule-date">National Informations</div>
                </a>
              </li>
            </ul>
            <div class="schedule-content">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active show" id="one">
                  <table id="addressTable" class="table table-striped table-responsive">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Province Hqtrs</th>
                        <th>Parish Name</th>
                        <th>Address</th>
                        <th>Location</th>
                      </tr>
                    </thead>
                    <tbody id="myData">   
                      <!-- all data provinciials-->                                                                                                       
                
                    </tbody> 
                  </table>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="two">
                  <table class="table table-striped table-responsive">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Topic</th>
                        <th>Speaker</th>
                        <th>Time</th>
                        <th>Hall</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>
                          <a href="single-event.html">Introduction Business</a>
                        </td>
                        <td>Daizy Chirs</td>
                        <td>09.00 am - 10.00 am</td>
                        <td>B.City Complex</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>
                          <a href="single-event.html">Introduction Business</a>
                        </td>
                        <td>Ayrin Dina</td>
                        <td>10.30 am - 11.00 am</td>
                        <td>Times Complex</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>
                          <a href="single-event.html">Introduction Business</a>
                        </td>
                        <td>Steve John</td>
                        <td>11.30 am - 12.00 pm</td>
                        <td>Newyork Complex</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>
                          <a href="single-event.html">Introduction Business</a>
                        </td>
                        <td>Mark Willy</td>
                        <td>12.30 pm - 01.30 pm</td>
                        <td>B.City Complex</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>
                          <a href="single-event.html">Introduction Business</a>
                        </td>
                        <td>Christian Zozo</td>
                        <td>03.00 pm - 04.00 pm</td>
                        <td>B.City Complex</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="three">
                  <table class="table table-striped table-responsive">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Topic</th>
                        <th>Speaker</th>
                        <th>Time</th>
                        <th>Hall</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>
                          <a href="single-event.html">Introduction Business</a>
                        </td>
                        <td>Daizy Chirs</td>
                        <td>09.00 am - 10.00 am</td>
                        <td>B.City Complex</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>
                          <a href="single-event.html">Introduction Business</a>
                        </td>
                        <td>Daizy Chirs</td>
                        <td>02.00 am - 02.30 pm</td>
                        <td>City Hutt Complex</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>
                          <a href="single-event.html">Introduction Business</a>
                        </td>
                        <td>Christian Zozo</td>
                        <td>03.00 pm - 04.00 pm</td>
                        <td>B.City Complex</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="four">
                  <table class="table table-striped table-responsive">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Topic</th>
                        <th>Speaker</th>
                        <th>Time</th>
                        <th>Hall</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>
                          <a href="single-event.html">Introduction Business</a>
                        </td>
                        <td>Daizy Chirs</td>
                        <td>09.00 am - 10.00 am</td>
                        <td>B.City Complex</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>
                          <a href="single-event.html">Introduction Business</a>
                        </td>
                        <td>Mark Willy</td>
                        <td>12.30 pm - 01.30 pm</td>
                        <td>B.City Complex</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>
                          <a href="single-event.html">Introduction Business</a>
                        </td>
                        <td>Daizy Chirs</td>
                        <td>02.00 am - 02.30 pm</td>
                        <td>City Hutt Complex</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>
                          <a href="single-event.html">Introduction Business</a>
                        </td>
                        <td>Christian Zozo</td>
                        <td>03.00 pm - 04.00 pm</td>
                        <td>B.City Complex</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="five">
                  <table class="table table-striped table-responsive">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Topic</th>
                        <th>Speaker</th>
                        <th>Time</th>
                        <th>Hall</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>
                          <a href="single-event.html">Introduction Business</a>
                        </td>
                        <td>Daizy Chirs</td>
                        <td>09.00 am - 10.00 am</td>
                        <td>B.City Complex</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>
                          <a href="single-event.html">Introduction Business</a>
                        </td>
                        <td>Ayrin Dina</td>
                        <td>10.30 am - 11.00 am</td>
                        <td>Times Complex</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </section>
      <!-- Schedule Area End Here -->
      <!-- Footer Area Start Here -->
      <footer>
        <div class="footer-layout1 bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <a href="index.html" class="footer-logo">
                  <img src="img/RCCG-WEB.png" alt="logo" class="img-fluid" />
                </a>
                <p>
                  © 2022 . All Rights Reserved. Designed by
                  <a
                    target="_blank"
                    href="https://www.nukulture.com.au"
                    rel="nofollow"
                  >
                    nukulture</a
                  >
                </p>
                <div class="footer-social">
                  <ul>
                    <li>
                      <a href="#" title="facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" title="twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" title="google-plus">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" title="linkedin">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                      </a>
                    </li>
                  
                  
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer Area End Here -->
    </div>
    <!-- Wrapper End -->
    <!-- jquery-->
    <script src="js/jquery-2.2.4.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Popper js -->
    <script src="js/popper.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Meanmenu Js -->
    <script src="js/jquery.meanmenu.min.js"></script>
    <!-- Srollup js -->
    <script src="js/jquery.scrollUp.min.js"></script>
    <!-- Custom Js -->
    <script src="js/main.js"></script>

<script>
'use scrict'

var myList = {
'REGION 2 HEADQUARTERS': ['RCCG GPA REGIONAL HQTRS', ' Green Pastures Arena, Region 2 Hqtrs, 33, Market Street, Somolu', 'PASTOR JOSEPH OBAYEMI', 'pastorjoeoba@yahoo.com', 'JOHNSON ADEDIRAN', 'johnsondira@yahoo.com', 'JOHNSON ADEDIRAN', 'johnsondira@yahoo.com'], 
'LAGOS PROVINCE 9': ['JESUS SANCTUARY (PROVINCE HQ)', '4, OLATUNBOSUN STREET, FURNITURE BUS-STOP, MAFOLUKU-OSHODI', 'PASTOR ISAAC IYIOLA ADEAGBO', 'iyiolaadeagbo@gmail.com', 'PASTOR STEPHEN O. JAGUN', 'sojagun@yahoo.com', 'PASTOR OLUFEMI ADEYEMI', 'femi_adeyemi@yahoo.com'], 
'LAGOS PROVINCE 10': ['SUNSHINE PROVINCIAL HQTR', 'NO.2 SOMOYE STREET, MULERO AGEGE, LAGOS STATE', 'PASTOR OLUROTIMI VINCENT ADEGBORIOYE', 'ovade2006@gmail.com', 'PASTOR ADENAGBE EMMANUEL', 'prema4christ@gmail.com', 'PASTOR WILLIAMS OGUNDIRAN', 'wfogundiran@gmail.com'], 
'LAGOS PROVINCE 13': ['LIVING STONE (PROVINCEHEADQUARTERS)', 'NO 1, POPOOLA BANJOKO STREET, SOLUYI,GBAGADA, LAGOS', 'PASTOR KOLA OLATUNDE (PIC-PROVINCE)', 'mkobaba@yahoo.com', 'PASTOR ELIJAH TAMUNOBOMA ELIJAH', 'tamunobomaelijah2014@gmail.com', 'PASTOR ADEMOLA ADEYEMI', 'demolaadeyemi@gmail.com'], 
'LAGOS PROVINCE 14': ['THE VINE CENTRE', 'PLOT 2, BESIDE ISOLO GENERAL HOSPITAL, ISOLO LAGOS', 'PASTOR OLUSEGUN O. OSUNSAN', 'osunsan@gmail.com', 'PASTOR STEVE JAYEOBA', 'stevejayeoba@yahoo.com', 'PASTOR OLUSOLA JOHN', 'johnolusola23@yahoo.com'], 
'LAGOS PROVINCE 17': ['PRAISE PALACE', '16, Amusan Street, off Puposola Road, New Oko Oba, Abule Egba, Lagos.', 'AKINLABI ADEAGBO', 'pastoradeagboakinlabi@gmail.com', 'PASTOR LADIPO YINKA JOSEPH', 'ladipoy13@gmail.com', 'PASTOR FARINTO AKINJIDE', 'abayomi.olurinto@gmail.com'], 
'LAGOS PROVINCE 28': ['CHURCH OF THE FIRST BORN', 'NO 1-3 REDEMPTION STREET OGUDU GRA SCHEME 2, BESIDE TOTAL PETROL STATION ALAPERE ESTATE BUS STOP ALONG OWOROSHOKI EXPRESSWAY, LAGOS - STATE.', 'PASTOR BOLA OREKOYA', 'bolakoya01@gmail.com', 'PASTOR OLULADE THOMPSON OPEYEMI', 'oluladethompson@gmail.com', 'PASTOR SANNI OLADELE', 'mikedely1244@gmail.com'], 
'LAGOS PROVINCE 42': ['POWER CHAPEL (PROVINCIAL HQ)', 'HERCULES BUS-STOP, GIWA/OKE-ARO ROAD,', 'PASTOR OLAGUNDOYE EROGUN', 'erogunola3@yahoo.com', 'PASTOR SONNY OSAKWE', 'aestheticsincorp@gmail.com', 'PASTOR MORONKEJI OLAWALE', 'osmoronkeji@gmail.com'], 
'LAGOS PROVINCE 49': ['PEACE HOUSE', 'KM 1 LASU-ISHERI ROAD, ORHEPTAL B/STOP, ISHERI, LAGOS STATE.', 'PST. OLALEKAN YUSUF', 'lekan_yusuf@yahoo.com', 'PASTOR AJAO OLUKAYODE', 'kayodeajao20@gmail.com', 'PASTOR SAMUEL ADEBIYI', 'adebiyifemi@gmail.com'], 
'LAGOS PROVINCE 50': ['LAND OF FAVOUR', '34/36 AJUWON AKUTE ROAD, EMMANUEL BUS STOP, AJUWON', 'PASTOR AJIBOYE JOHN OMOTAYO', 'omotayo.ajiboye@yahoo.com', 'PASTOR KOMOLAFE MABAYOJE ADEBAYO', 'missionarykomolafe@gmail.com', 'PASTOR JOHN OLUWAGBEMIGA OLANIYAN', 'olaniyan.john@gmail.com'], 
'LAGOS PROVINCE 51': ['PROVINCIAL HEADQUARTERS', 'GLORY MODEL 46, DEMUNRIN STREET, KETU-ALAPERE LAGOS STATE', 'AKINMULEWO I. OBED', 'akinmulewobed@yahoo.com', 'PASTOR EMMANUEL-MESIOYE DAVID', 'davidemmanuelmesioye@gmail.com', 'PASTOR CHARLES AKOH', 'cashdeal2005@yahoo.com'], 
'LAGOS PROVINCE 56': ['MILK AND HONEY', '29,SUNMOLA STREET, MENDE, MARYLAND, LAGOS.', 'PASTOR OLAYINKA OLUSESAN', 'pastorolayinkaolusesan@yahoo.com', 'PASTOR AREMU JOSHUA', 'thestrengthschool@yahoo.com', 'PASTOR OYEJOLA AKINBO', 'akinoyejola@yahoo.com'], 
'LAGOS PROVINCE 57': ['MIGHTY GOD (PROVINCIAL HQ)', 'HERITAGE-IWAYE ESTATE, MADONNA GATE, AKUTE ROAD, DENRO, OGUN STATE.', 'PASTOR OLUWANIYI A. OLUTOYESE', 'oluwaniyiadedapo@yahoo.com', 'PASTOR AJAYI AMOS OLUKOREDE', 'hayjay1362@gmail.com', 'PASTOR OLADAPO PETER TAIWO', 'oladapopt01@yahoo.com'], 
'LAGOS PROVINCE 69': ['OLIVE - (LP69 HQTRS ZONE)', 'OLIVE GARDENS, 1, ERNEST OMOREGIE STR., OFF AGBOYI RD., OGUDU ORI-OKE, LAGOS.', 'PASTOR SAMUEL DARAMOLA', 'sadaramola2000@yahoo.com', 'PST JAMES ADEWUNMI', 'tofem15@gmail.com', 'PST. OYEDEJI BAYO', 'bayobukkyoyedeji@yahoo.com'], 
'LAGOS PROVINCE 8': ["THE MASTER'S PLACE", 'PLOT 302, OSHODI/OWORONSHOKI EXPRESS WAY GBAGADA', 'PASTOR BODE ODESOLA', 'vicbod@yahoo.com', 'PASTOR OYEKANMI KADIRI OLATUNJI', 'kadirioye@yahoo.com', 'PASTOR LARRY IGBOKWE', 'ijelarry@yahoo.com'], 
'LAGOS PROVINCE 83': ['LIVING WATER ASSEMBLY', '5, NATHANIEL OSAGIE STREET, IRAWO BUS STOP, OWODE AJEGUNLE, IKORODU ROAD, LAGOS STATE', 'PASTOR ASANMO KAYODE', 'okasanmo@yahoo.co.uk', 'ADEKUNLE EKUNDAYO OLUSEGUN', 'dayokunle84@yahoo.com', 'AKANMU JOHN', 'johnakanmu@yahoo.com'], 
'LAGOS PROVINCE 84': ['VICTORY CHAPEL', 'ADDRESS: 1 Redeemed Close off Emily Akinola Street Chemist Bus Stop, Akoka', 'PASTOR JOEL KEHINDE AMURE', 'amurejk@yahoo.com', 'PASTOR MORENIKEJE BADEJO', 'badejomorenikeji801@gmail.com', 'PASTOR ANTHONY DAUDU', 'uncletonydaudu@gmail.com'], 
'LAGOS PROVINCE 85': ['OVERFLOWING MEGA', 'nO 14, jonathan coker street, fagba, lagos state.', 'PASTOR MATTHEW ADEOMO AIYEDUN', 'maiyedun@yahoo.com', 'PASTOR OYEDIRAN JOHNSON DADE', 'oyusdade@gmail.com', 'PASTOR BODE ORUNSOLU-THOMAS', 'bodefunmi@yahoo.com'], 
'LAGOS PROVINCE 86': ['RIVERS OF LIVING WATER', '563, IKorodu road,kosofe bus-stop behind first Bank plc, omojuwa street, mile-12, Lagos.', 'PASTOR OLUWATAYO BAYO COSMAS - PICP', 'ogunlbc3257@yahoo.com', 'PASTOR KUNLE ADEBIYI', 'kunleadebiyij@gmail.com', 'PASTOR OLUTAYO AKINKUNMI', 'tirano60@yahoo.com'], 
'LAGOS PROVINCE 87': ['JESUS EMBASSY', 'jesus embassy, ogba lagos state', 'PASTOR OMITOGUN EZEKIEL', 'omitooguns@gmail.com', 'PASTOR ASEGERE ADEKUNLE SAMUEL', 'babsaseg@yahoo.com', 'PASTOR AKANDE OLAWALE OLUMUYIWA', 'akandeolawale1@gmail.com']
}

// display the functions into tables
Object.keys(myList).forEach(function(key, index, arr) {
  var sn = index + 1;
  var province = key
  var parishName = myList[key][0]
  var address = myList[key][1]
  var emailAddress = myList[key][3]
  var row = "";
  row += '<tr><th scope="row">' + sn + '</th><td>' + province + '</td><td>' + parishName + '</td><td>' + address + '</td><td>' + emailAddress + '</td></tr>';
  var html = document.getElementById("myData").innerHTML + row;
  // set the table body to the new html code
  document.getElementById("myData").innerHTML = html;
}); 

</script>

  </body>
</html>
