      <header>
        <div
          id="header-one"
          class="header-area header-fixed full-width-compress"
        >
          <div class="main-menu-area" id="sticker">
            <div class="container-fluid">
              <div class="row no-gutters d-flex align-items-center">
                <div class="col-lg-2 col-md-2 d-none d-lg-block">
                  <div class="logo-area">
                    <a href="index.html">
                      <img src="img/rccg-for-web1.png" alt="logo" />
                    </a>
                  </div>
                </div>
                <div class="col-lg-7 col-md-6 possition-static">
                  <div class="eventalk-main-menu">
                    <nav class="d-none d-lg-block">
                      <ul>
                        <li class="current"><a href="index.html">Home</a></li>
                        <li><a href="about.html">History</a></li>
                        <li>
                          <a href="events.html">Events</a>
                        </li>
                        <li>
                          <a href="#">Quick links</a>
                            <ul class="rt-dropdown-menu">
                                <li>
                                  <a href="directory.html">Directories</a>
                                </li>
                                <li>
                                  <a href="gallery.html">Gallery</a>
                                </li>
                                <li>
                                  <a href="donation.html">Donate</a>
                                </li>
                                <li>
                                  <a href="podcast.html">podcast</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                          <a href="#">Help Ministries</a>
                              <ul class="rt-dropdown-menu">
                                <li>
                                  <a href="csr.html">CSR</a>
                                </li>
                                <li>
                                  <a href="youth.html">Youth Ministries</a>
                                </li>
                                <li>
                                  <a href="house.html">House Fellowship</a>
                                </li>
                                <li>
                                  <a href="children.html">Children Church</a>
                                </li>
                                <li>
                                  <a href="women.html">Women Minsitry</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                          <a href="contact.html">Contact us</a>
                        </li>
                      </ul>
                    </nav>

                    <!-- Mobile Menu start -->
                    <!-- <nav id="dropdown" class="d-md-none">
                      <ul>
                        <li>
                          <a href="#">Home</a>
                          <ul class="rt-dropdown-menu">
                            <li>
                              <a href="index.html">Home 1 (Multi Page)</a>
                            </li>
                            <li>
                              <a href="index2.html">Home 2 (Multi Page)</a>
                            </li>
                            <li>
                              <a href="index3.html">Home 3 (Multi Page)</a>
                            </li>
                            <li>
                              <a href="index4.html">Home 4 (Multi Page)</a>
                            </li>
                            <li>
                              <a href="one-page-index.html"
                                >Home 1 (One Page)</a
                              >
                            </li>
                            <li>
                              <a href="one-page-index2.html"
                                >Home 2 (One Page)</a
                              >
                            </li>
                            <li>
                              <a href="one-page-index3.html"
                                >Home 3 (One Page)</a
                              >
                            </li>
                            <li>
                              <a href="one-page-index4.html"
                                >Home 4 (One Page)</a
                              >
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a href="#">Pages</a>
                          <ul class="rt-dropdown-menu">
                            <li>
                              <a href="about.html">About</a>
                            </li>
                            <li>
                              <a href="pricing-table1.html">Pricing Table 1</a>
                            </li>
                            <li>
                              <a href="pricing-table2.html">Pricing Table 2</a>
                            </li>
                            <li>
                              <a href="pricing-table3.html">Pricing Table 3</a>
                            </li>
                            <li>
                              <a href="comingsoon-event.html"
                                >Comingsoon Event</a
                              >
                            </li>
                            <li>
                              <a href="shop.html">Shop</a>
                            </li>
                            <li>
                              <a href="single-shop.html">Shop Details</a>
                            </li>
                            <li>
                              <a href="blog-standard.html">Blog Standard</a>
                            </li>
                            <li>
                              <a href="blog-masonry.html">Blog Masonry</a>
                            </li>
                            <li>
                              <a href="single-blog.html">Blog Details</a>
                            </li>
                            <li>
                              <a href="gallery.html">Gallery</a>
                            </li>
                            <li>
                              <a href="contact.html">Contact</a>
                            </li>
                            <li>
                              <a href="404.html">404</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a href="#">Speakers</a>
                          <ul class="rt-dropdown-menu">
                            <li>
                              <a href="speakers1.html">Speakers 1</a>
                            </li>
                            <li>
                              <a href="speakers2.html">Speakers 2</a>
                            </li>
                            <li>
                              <a href="speakers3.html">Speakers 3</a>
                            </li>
                            <li>
                              <a href="single-speakers.html">Speaker Details</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a href="#">Schedule</a>
                          <ul class="rt-dropdown-menu">
                            <li>
                              <a href="schedule1.html">Schedule 1</a>
                            </li>
                            <li>
                              <a href="schedule2.html">Schedule 2</a>
                            </li>
                            <li>
                              <a href="schedule3.html">Schedule 3</a>
                            </li>
                            <li>
                              <a href="schedule4.html">Schedule 4</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a href="sponsors.html">Sponsors</a>
                        </li>
                        <li>
                          <a href="contact.html">Contact</a>
                        </li>
                      </ul>
                    </nav> -->
                    <!-- Mobile Menu End -->

                  </div>
                </div>

                <div class="col-lg-3 col-md-4 d-none d-lg-block">
                  <ul class="header-action-items">
                    <li><a  href="#"  data-toggle="modal" data-target="#exampleModal"  title="Buy Tickets" type="button"
                        class="btn-fill size-xs color-yellow border-radius-5"
                        >Prayer & Counselling</a >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>


    